<form method="get" action="/scrape">
	<button type="button submit" class="btn btn-default">Scrape new articles!</button>
</form>
<button type="button" class="btn btn-default">Show saved articles</button>



{{#each article}}
<div class="panel panel-default">
	<div class="panel-body">
		<a href="{{this.link}}" target="_blank">{{this.title}}</a>
		<br>{{this.timeAndSummary}}
		{{this.id}}
		<form action="/{{this.id}}?_method=PUT" method="POST">
			<button type="submit">Save</button>
		</form>
	</div>
</div>
</ul>
{{/each}}


