<script type="text/javascript" src="/assets/js/saved.js"></script>


{{#each savedArticle}}
<div class="panel panel-default">
	<div class="panel-body">
		<a href="{{this.link}}" target="_blank">{{this.title}}</a>
		<br>{{this.timeAndSummary}}
   <button class="newComment" data-toggle="modal" data-target="#addCommentBox" data-id={{this.id}}>Add a comment</button>
   <form action="/api/articles/unsave/{{this.id}}?_method=PUT" method="POST">
     <button type="submit">Delete from saved</button>
   </form>
 </div>
</div>



<!-- Modal -->
<div id="addCommentBox" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="panel panel-default">
          <div class="panel-body">
          Article Notes
          </div>
        </div>
      </div>
      <div class="modal-body">
      </div>
        	<div class="form-group">
        		<label for="">label</label>
        		<textarea class="form-control commentContent" rows="7" placeholder="Add a comment"></textarea>
        	</div>
        	<button class="btn btn-primary commentSubmit"}>Submit</button>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{/each}}
